<div>
    <h1>Course list</h1>
      <table class="courses">
        <tr>
          <td>
            Title
            <button (click)="toggleOrder()">
              <span *ngIf="order == 'ASC'">v</span>
              <span *ngIf="order == 'DESC'">^</span>
            </button>
          </td>
          <td>Teacher</td>
          <td>Level</td>
          <td>Number of hours</td>
          <td>Actions</td>
        </tr>
        <tr *ngFor="let course of courses">
          <td>{{course.title}}</td>
          <td>{{course.teacher.fullName}}</td>
          <td>{{course.level}}</td>
          <td>{{course.numberOfHours}}</td>
          <td>
            <button (click)="deleteCourse(course);">Delete</button>
          </td>
        </tr>
    </table>

    <div class="pagination" *ngIf="course_count">
      <button (click)="getPrevCourses();">&lt; Prev</button>
      <button *ngIf="current_page > 1" (click)="getFirstCourses();">1</button>
      <span *ngIf="current_page > 2">...</span>
      <span *ngIf="current_page > 2" (click)="getPrevCourses();">{{current_page-1}}</span>
      <strong>{{current_page}}</strong>
      <span *ngIf="current_page < course_count.numberOfPages -1" (click)="getNextCourses();">{{current_page+1}}</span>
      <span *ngIf="current_page < course_count.numberOfPages">...</span>
      <button *ngIf="current_page < course_count.numberOfPages" (click)="getLastCourses();">{{course_count.numberOfPages}}</button>
      <button (click)="getNextCourses();">&gt; Next</button>
    </div>

    <div *ngIf="!new_course">
      <button (click)="changeMode();">
        <span *ngIf="mode == 'add'">
          Close new course form
        </span>
        <span *ngIf="mode == 'view'">
          Add new course
        </span>
      </button>
      <div *ngIf="mode == 'add'">
          <h2>New Course</h2>
          <label>Title: <input #newCourseTitle required/></label>
          <label>Description: <textarea #newCourseDescription required></textarea></label>
          <label>Number of hours: <input #newCourseNumberOfHours required type="number"/></label>
          <label>Level:
            <select #newCourseLevel required>
              <option value="basic">Basic</option>
              <option value="intermediate">Intermediate</option>
              <option value="advanced">Advanced</option>
            </select>
          </label>
          <label>Teacher:
            <select #newCourseTeacher required>
              <option *ngFor="let teacher of teachers" value="{{teacher.id}}">{{teacher.fullName}}</option>
            </select>
          </label>
          <button (click)="addCourse(newCourseTitle.value, newCourseDescription.value, newCourseNumberOfHours.value, newCourseLevel.value, newCourseTeacher.value);">Add</button>
      </div>
    </div>
    <div *ngIf="new_course">
      Your course have been successfully added, pres OK to continue
      <button (click)="returnToViewMode();">OK</button>
    </div>
</div>