<!DOCTYPE HTML>
<html>
<head>
    <title>Spring Boot Test by Diego J.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div>Course manager</div>
    <div id="CourseManager">    
    </div>
</body>
</html>